:root {
    --background-color: #385F71;
    --black-shodow-in-background: rgb(0, 0, 0, 0.5);
    --black-shodow-in-footer: rgb(0, 0, 0, 0.4);
    --font-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../images/background.jpg) no-repeat;
    background-size: cover;
    background-position: center;

}


header {
    position: relative;
    left: 0;
    top: 0;
    height: 80px;
    width: 100%;
    padding: 20px 50px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--black-shodow-in-background);
}

.logo {
    font-size: 1.7rem;
    padding-left: 1.2rem;
    user-select: none;
    color: var(--font-color);
}

.navigation {
    user-select: none;
}

.navigation a {
    color: var(--font-color);
    position: relative;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    position: relative;
    margin-right: 50px;
    user-select: none;
}

.navigation a::after {

    content: '';
    position: absolute;
    background: var(--font-color);
    height: 3px;
    width: 100%;
    left: 0;
    bottom: -6px;
    border-radius: 5px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;

}

.navigation a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.navigation .btn {
    width: 130px;
    height: 45px;
    border-radius: 5px;
    border: 2px solid var(--font-color);
    cursor: pointer;
    background: transparent;
    font-size: 1.1rem;
    margin-left: 40px;
    color: var(--font-color);
    transition: 0.5s;
}

.navigation .btn:hover {
    background: var(--font-color);
    /* color: #162938; */
    color: var(--background-color);


}

/* main */

main {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    align-items: center;
    padding: 80px 100px 0;
    background-color: var(--black-shodow-in-background);
    gap: 2rem;
}

main .intro {
    max-width: 600px;
    color: var(--font-color);
    margin-top: -80px;

}

main .intro h2 {
    font-size: 2.9rem;
    color: var(--font-color);
    font-weight: 500;
    margin-bottom: 40px;


}

main .intro p {
    margin: 10px 0 40px;
    color: var(--font-color);
    font-size: 1.2rem;
    font-weight: 400;
    word-spacing: 4px;
    line-height: 1.6rem;
    text-align: justify;
}

main .intro .started {

    width: 130px;
    height: 50px;
    border-radius: 20px;
    font-weight: 1.2rem;
    margin-left: 30px;
    background: transparent;
    color: var(--font-color);
    border: 2px solid var(--font-color);
    user-select: none;
    transition: 0.5s;
}

main .intro .started:hover {
    background: var(--font-color);
    color: var(--background-color);
    cursor: pointer;
}


/* log in part */

.log-in {
    position: relative;
    width: 440px;
    margin-top: -120px;
}

.log-in h2 {
    color: var(--font-color);
    text-align: center;
    font-size: 1.8rem;
}

.log-in .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 40px 0;
}

.log-in .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 40px;
    border: 2px solid var(--font-color);
    text-align: center;
    color: var(--font-color);
    font-size: 1.2rem;
    outline: none;
}

.log-in .input-box input:focus~label,
.log-in .input-box input:valid~label {
    top: -14px;
    left: 17px;
}

.log-in .input-box label {
    position: absolute;
    color: var(--font-color);
    font-size: 1.2rem;
    pointer-events: none;
    top: 50%;
    left: 45px;
    transform: translateY(-50%);
    transition: 0.5s;
    user-select: none;
}

.log-in .icon {
    position: absolute;
    top: 18px;
    left: 15px;
    color: var(--font-color);
}



.log-in .Login-btn {
    width: 100%;
    height: 50px;
    border-radius: 40px;
    background: transparent;
    color: var(--font-color);
    font-size: 1.4rem;
    box-shadow: var(--black-shodow-in-background);
    cursor: pointer;
    transition: .9s;
    user-select: none;
}

.log-in .Login-btn:hover {
    background: var(--font-color);
    color: var(--background-color);
}


.log-in .register-link {
    text-align: center;
   margin-top: 1.1rem;
    color: var(--font-color);
    font-size: 1.1rem;
    font-weight: 500;
}

.log-in .register-link p a {
    text-decoration: none;
    color: var(--font-color);
    margin-left: 10px;
    user-select: none;
   
}

.log-in .register-link p a:hover {
    text-decoration: underline;
}

/* footer */

footer {

    width: 100%;
    background-color: transparent;
    padding: 1.3rem;
    background: var(--black-shodow-in-footer);
}

footer .display-all {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 15rem;
}

.footer__for-flex {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-size: 1.rem;
}

.footer__for-flex h4 {
    font-weight: 900;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: rgb(12, 255, 255);
}

.footer__for-flex a {
    text-decoration: none;
    color: var(--font-color);
    font-weight: bolder;
}

footer .develop-mehedi {
    font-size: 1.2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: .4rem;
    color: var(--font-color);
}