:root {
    --background-color: #385F71;
    --black-shodow-in-background: rgb(0, 0, 0, 0.5);
    --black-shodow-in-footer: rgb(0, 0, 0, 0.4);
    --font-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../images/background.jpg) no-repeat;
    background-size: cover;
    background-position: center;

}


header {
    position: relative;
    left: 0;
    top: 0;
    height: 80px;
    width: 100%;
    padding: 20px 50px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--black-shodow-in-background);
}

.logo {
    font-size: 1.7rem;
    padding-left: 1.2rem;
    user-select: none;
    color: var(--font-color);
}

.navigation {
    user-select: none;
}

.navigation a {
    color: var(--font-color);
    position: relative;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    position: relative;
    margin-right: 50px;
    user-select: none;
}

.navigation a::after {

    content: '';
    position: absolute;
    background: var(--font-color);
    height: 3px;
    width: 100%;
    left: 0;
    bottom: -6px;
    border-radius: 5px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;

}

.navigation a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.navigation .btn {
    width: 130px;
    height: 45px;
    border-radius: 5px;
    border: 2px solid var(--font-color);
    cursor: pointer;
    background: transparent;
    font-size: 1.1rem;
    margin-left: 40px;
    color: var(--font-color);
    transition: 0.5s;
    display: none;
}

.navigation .btn:hover {
    background: var(--font-color);
    /* color: #162938; */
    color: var(--background-color);


}

/* main */

main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    align-items: center;
    background-color: var(--black-shodow-in-background);
    padding: 80px 100px 0;
   
}

main h2 {
    color: #fff;
    font-size: 2rem;
    margin: 20px;
    margin-top: -1.2rem;
    text-shadow: 1px 1px 5px #000;
}

#results-table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    color: var(--font-color);
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    border-radius: 10px;
    overflow: hidden;
}

#results-table th, #results-table td {
    padding: 15px 20px;
    text-align: center;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

#results-table th {
    background: rgba(56, 95, 113, 0.8); /* dark header */
    font-size: 1.5rem;
}

#results-table tr:last-child td {
    border-bottom: none;
}

#results-table tr:hover {
    background: rgba(255,255,255,0.1);
}

#results-table tbody{
    font-size: 1.2rem;
}


/* footer */

footer {

    width: 100%;
    background-color: transparent;
    padding: 1.3rem;
    background: var(--black-shodow-in-footer);
}

footer .display-all {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 15rem;
}

.footer__for-flex {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-size: 1.rem;
}

.footer__for-flex h4 {
    font-weight: 900;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: rgb(12, 255, 255);
}

.footer__for-flex a {
    text-decoration: none;
    color: var(--font-color);
    font-weight: bolder;
}

footer .develop-mehedi {
    font-size: 1.2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: .4rem;
    color: var(--font-color);
}